@using Hotella.ViewModels
@model HotelsViewModel

@{
    ViewData["Title"] = "View";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Hotels List
    </title>
</head>
<body>

    <div class="row">
        <h2 class="mb-3">
            Hotels
        </h2>
        @foreach (var hotel in Model.Hotels)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <img src="@hotel.ImageUrl" class="card-img-top" alt="@hotel.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@hotel.Name</h5>
                        <p class="card-text">@hotel.City</p>
                        <a href="@Url.Action("HotelDetails", "Hotel", new { hotelName = hotel.Name })" class="btn btn-primary">BOOK NOW</a>

                    </div>
                </div>
            </div>
        }
        </div>
</body>
</html>


